.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin-left: 10px;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}