.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin-left: 10px;
}

.flex-row {
    display: flex;
  }
  
.flex-bottom {
    margin-top: auto;
  }
  
.border {
  border: 1px solid green;
}

.form-inline input.form-control,button {
    margin-left: 5px;
    margin-right: 5px;
}

.global-alert-top-right {
  z-index: 10301;
  position: fixed;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  top: 0;
  right: 0;
}
